<div class='home'>
<center><legend> <h1>Welcome to College Management System</h1></legend></center>
<center><h5>A Project by Tagore Alumni Group</h5></center>
<br>
<br>
<br>
<h3>Development Team: CSE 2015 Batch</h3>
<h4>Tech Stack: Ruby on Rails 5.1, PostgreSQL</h4>

<h5>To Do</h5>

<p>Score with Date of Event</p>
</div>